/* Colors */

$black:        #333333 !default;

$grey-darker:  #555555 !default;
$grey-dark:    #777777 !default;
$grey:         #999999 !default;
$grey-light:   #BBBBBB !default;
$grey-lighter: #EEEEEE !default;

$white:        #FFFFFF !default;

$orange:       hsl(14,  100%, 53%) !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        hsl(141, 71%,  48%) !default;
$turquoise:    hsl(171, 100%, 41%) !default;
$blue:         hsl(217, 71%,  53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          hsl(348, 100%, 61%) !default;
$pink:         #FE595F;
$dark:         $black;
$primary-color: $pink;

/* Responsiveness */

$tablet: 769px !default
$desktop: 1000px !default
$widescreen: 1192px !default
$fullhd: 1384px !default


/* Fonts */

$lh-condensed-ultra: 1 !default;
$lh-default: 1.2 !default;

/* Body */

$body-background-color: $grey-lighter;
$body-color: $dark;
$body-font: BlinkMacSystemFont, "Poppins", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size: 18px !default;
$body-line-height: $lh-default !default;
